<% if flash[:notice] || flash[:alert] %>
  <div class="alert">
    <% if flash[:notice] %>
      <p class="alert alert-warning"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>
  </div>
<% end %>

