<footer class="footer">
  <div class="container centered">
    <div class="col-xs-4">
      <p class="text-muted">
        <%= link_to("ask me a question!", 'https://github.com/blairanderson/rails-hackernews-reddit-producthunt-clone/issues') %>
      </p>
    </div>
    <div class="col-xs-8">
      <p class="text-muted">
        this
        <%= link_to("link sharing boilerplate", 'https://github.com/blairanderson/rails-hackernews-reddit-producthunt-clone') %>
        was
        <%= link_to("made by blair", 'https://www.blairanderson.co/') %>
      </p>
    </div>
  </div>
</footer>

