<% if current_user && logged_in? %>

<% else %>
  <!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->
  <div id="headerwrap">
    <div class="container alert alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>Reddit/Hackernews/ProductHunt Clone</h3>

          <h1>Start Your Own Link Sharing Community!</h1>
          <h5>Immediately start signing people up and let them share links and more!</h5>
          <h5>Create your own.</h5>
          <% @user ||= User.new %>

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="row">
                <%= link_to 'LOGIN', "#root-login", class: 'btn btn-theme btn-lg btn-block', data: {toggle: 'collapse', target: '#root-login'} %>
              </div>
              <div class="collapse" id="root-login">
                <div class="row">
                  <div class="col-xs-12">
                    <%= render partial: 'user_sessions/form' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <%= link_to 'REGISTER', "#root-register", class: 'btn btn-theme btn-lg btn-block', data: {toggle: 'collapse', target: '#root-register'} %>
              </div>
              <div class="collapse" id="root-register">
                <div class="row">
                  <div class="col-xs-12">
                    <%= render partial: 'users/form' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /headerwrap -->
<% end %>
