<h1>Admin : Listing Items</h1>
<%= link_to 'New Item', new_admin_item_path, class: 'btn btn-link' %>

<button id="reset-and-load-from-hn" data-api="<%= active_api_path %>" class="btn btn-default">Reset and Load from HackerNews</button>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
  <%= render @admin_items %>
  </tbody>
</table>


<%= javascript_include_tag 'admin/root' %>
