<%= simple_form_for :login, url: user_sessions_path, method: :post do |f| %>

  <div class="form-inputs">
    <%= f.input :username %>
    <%= f.input :password %>
  </div>
  <div class="actions">
    <%= f.button :submit, "Login" %>
  </div>

<% end %>
